<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:securrity="http://www.springframework.org/schema/security"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
                  http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://www.springframework.org/schema/context
                  http://www.springframework.org/schema/context/spring-context.xsd
                          http://www.springframework.org/schema/security
                          http://www.springframework.org/schema/security/spring-security.xsd">

  <!--配置匿名访问页面-->
  <securrity:http security="none" pattern="/login.html"/>
  <securrity:http security="none" pattern="/js/**"/>
  <securrity:http security="none" pattern="/css/**"/>
  <securrity:http security="none" pattern="/plugins/**"/>
  <securrity:http security="none" pattern="/img/**"/>

  <securrity:global-method-security pre-post-annotations="enabled"/>
  <!--配置拦截规则-->
  <securrity:http auto-config="true" use-expressions="true">
    <securrity:headers>
      <securrity:frame-options policy="SAMEORIGIN"/>
    </securrity:headers>
    <!--intercept-url  拦截页面   access="isAuthenticated()"需要认证才能访问这些页面-->
    <securrity:intercept-url pattern="/pages/**" access="isAuthenticated()"/>
    <!--配置登录页面，如果不配置则会自动生成一个登录页面
    login-page：登录页面
    login-processing-url：登录的请求，如果请求为login，则可以省略，因为spring security默认的登录请求就是login
    default-target-url：登录成功后跳转的页面
    always-use-default-target：表示是否总是跳转这些页面
    authentication-failure-url：失败跳转的页面 -->
    <securrity:form-login login-page="/login.html" login-processing-url="/login.do"
      default-target-url="/pages/main.html" always-use-default-target="true"
      authentication-failure-url="/login.html"/>
    <!--配置登出-->
    <securrity:logout logout-url="/logout.do" logout-success-url="/login.html"
      invalidate-session="true"/>
    <!--禁用跨域伪造请求-->
    <securrity:csrf disabled="true"/>
  </securrity:http>

  <!--配置认证管理者-->
  <securrity:authentication-manager>
    <!--授权和认证的服务提供者-->
    <securrity:authentication-provider user-service-ref="userAccredit">
      <!--密码加载策略-->
      <securrity:password-encoder ref="encoder"/>
    </securrity:authentication-provider>
  </securrity:authentication-manager>

  <bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

  <context:component-scan base-package="com.itheima"/>
</beans>